svg {
  position: fixed;
  padding: 5%;
  height: 80%;
  width: 80%;
}
#Sun {
  opacity: 0;
  animation: sunny 7s linear infinite;
}

@keyframes sunny {
  from {
      opacity: 0;
  }
  to{
      opacity: 100;
  }
}

#blue-heart,
#green-heart,
#orange-heart {
  animation: heart 7s ease infinite;
}

@keyframes heart {
  from {
      transform: rotateX(0deg);
  }

  to {
      transform: rotateX(40deg);
  }
}

#girl {
  animation: slide-in 7s ease infinite;
}

@keyframes slide-in {
  from {
      opacity: 0;
      transform: translateX(150px);
  }
  to{
      opacity: 100;
      transform: translateX(20px);
  }
}

